@tailwind base;
@tailwind components;
@tailwind utilities;

/* @(decorator) :  코드다. 특정 어떤것을 사용해라. @ 뒤에는 절대경롤 붙혀준다. */
input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
